<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewBag.Title - Ерунда</title>
  <link asp-href-include="~/css/globals/*.css" rel="stylesheet" />
  @RenderSection("Styles", false)
</head>
<body>
  <div id="bg-time-tags" class="bg-container"></div>
  <div id="bg-water" class="bg-container"></div>
  <div id="bg-glare" class="bg-container"></div>
  <div id="bg-border-shadow" class="bg-container"></div>
  <div id="bg-strip-top">
    <div class="bg-strip-left"></div>
    <div class="bg-strip-center"></div>
    <div class="bg-strip-right"></div>
  </div>
  <div id="bg-strip-bottom">
    <div class="bg-strip-left"></div>
    <div class="bg-strip-center"></div>
    <div class="bg-strip-right"></div>
  </div>

  <div id="page-top"></div>
  <div id="wrapper">
    <header>
      <div class="header-bg"></div>
      <div class="header">
        <a asp-action="Index" asp-controller="Home" class="site-logo"></a>
        <div class="logged-in-user">
          <p class="logged-in-user__name"><a asp-action="Index" asp-controller="Profile">ALEX ADONNIX</a></p>
          @if (ViewBag.ShowSpentTime ?? false) {
            <div class="logged-in-user__name-time-separator"></div>
            <div class="logged-in-user__spent-time js-logged-in-user__spent-time">00:00:000</div>
          }
          else {
            <div class="logged-in-user__photo"></div>
          }
        </div>
      </div>
      <div class="nav-header">
        <nav>
          <ul class="nav-header__links-container">
            <li class="nav-header__link"><a asp-action="Index" asp-controller="Home" th-is-active-route>Главная
            </a></li><li class="nav-header__link"><a asp-action="Index" asp-controller="Band" th-is-active-route>Лента
            </a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      @RenderBody()
    </main>
    <footer>
      <a href="#page-top" id="btn-scroll-to-top">▲</a>
      <div class="nav-footer">
        <nav>
          <ul class="nav-footer__links-container">
            <li class="nav-footer__link"><a asp-action="Index" asp-controller="Home">Главная
            </a></li><li class="nav-footer__link"><a asp-action="Index" asp-controller="Band">Лента
            </a></li>
          </ul>
          <ul class="nav-footer__links-container">
            <li class="nav-footer__link"><a asp-action="Index" asp-controller="Profile">Мой профиль
            </a></li><li class="nav-footer__link"><a asp-action="Index" asp-controller="Feedback">Обратная связь
            </a></li>
          </ul>
        </nav>
      </div>
      <p id="footer-copyright">&copy; 2018 ExcellentNonsense</p>
    </footer>
  </div>
  @RenderSection("ServiceContent", false)
  <script src="~/js/common.js"></script>
  @RenderSection("Scripts", false)
</body>
</html>
