@model DisplayViewModel

@{
  ViewBag.Title = "Карточка пользователя";
}

<div class="p-1 bg-primary text-white"><h4>Карточка пользователя</h4></div>

<div asp-validation-summary="All" class="text-danger"></div>

<dl class="row">
  <dt class="col-sm-2">Id
    </dt><dd class="col-sm-9">@Model.Id</dd>
</dl>
<dl class="row">
  <dt class="col-sm-2">Логин
    </dt><dd class="col-sm-9">@Model.UserName</dd>
</dl>
<dl class="row">
  <dt class="col-sm-2">Email
    </dt><dd class="col-sm-9">@Model.Email</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Редактировать</a>
<a asp-action="Index" class="btn btn-secondary">Закрыть</a>
<form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline-block">
  <button type="submit" class="btn btn-danger ml-4">Удалить</button>
</form>